<div class="after-content"></div>
<div class="footer">
    <div class="footer-container">
        <div class="footer-content">
          <div class="left-floats">
              <div class="sig left">Made with &hearts; by <a href="http://techfo.xyz/">Chris Guillott</a></div>
              <div class="sig left"><a href="https://github.com/chrjguill/www-alkalyon"><i class="fa fa-github" aria-hidden="true"></i></a></div>
          </div>
          <div class="right-floats">
              <div class="sig right">Art &copy; Pita (Peter Sang), 2016</div>
              <div class="sig right"><a href="/tos">TOS</a></div>
          </div>
        </div>
    </div>
</div>
