<div class="header">
    <div class="logo-container"><a href=<%= is_active_root %>><img class="logo" src="/images/<%= current_page.data.logo_name %>"/></a></div>
    <div class="nav-container">
        <div class="nav-head"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div class="nav">
          <% data.nav.nav_data.each do |item| %>
              <%= header_gen item %>
          <% end %>
        </div>
    </div>
</div>
