<div class="header">
    <div class="logo-container">
			<a href=<%= is_active_root %>>
				<img class="logo-base" src="/images/banner-glow/dasdas.jpg" alt="logo"/>
				<img class="logo-lay1" src="/images/banner-glow/glow1.png"/>
				<img class="logo-lay2" src="/images/banner-glow/glow2.png"/>
				<img class="logo-lay3" src="/images/banner-glow/glow3.png"/>
				<img class="logo-lay4" src="/images/banner-glow/glow4.png"/>
			</a>
		</div>
    <div class="nav-container">
        <div class="nav-head"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div class="nav">
          <% data.nav.nav_data.each do |item| %>
              <%= header_gen item %>
          <% end %>
        </div>
    </div>
</div>
