<%# why didn't I do this in the first place...? 2am, man, what was I thinking %>

<div class="content-container">
    <div class="content-block col">
        <h1 class="content-header">left column</h1>
        <p>put left column stuff here</p>
    </div>
    <div class="content-block col">
        <h1 class="content-header">right column</h1>
        <p> put right column content here</p>
        <p> if you want to have one column, remove this element and remove the 'col' class from the other one.</p>
   </div>
</div>
<div class="tiles">
    <div class="tile head-tile">
      <p>tile overview text here (what're they for, etc, etc); they'll probably have a lightbox on them so you can scroll through horizontally or vertically; might make them more card-y in the future</p>
      <%= parse_markdown '##there\'s not really any content to speak of yet, but the [about](/about/) page has some different stuff' %>
    </div>
    <div class="content-tiles">
        <% data.gallery.digital.each do |item| %>
        <div class="tile"> <%= lightbox_insert_tiles item %> </div>
        <% end %>
    </div>
</div>
