<div class="widgets">
    <div class="widget-container">
        <div class="widget-canvas">
            <div class="widgets-before"></div>
            <div class="widget widget-tumblr"><a href="http://cercat.tumblr.com/"><img src="/images/widgets/tumblrwidget.png"/></a></div>
            <div class="widget widget-twitter"><a href="https://twitter.com/acertifiedcat/"><img src="/images/widgets/twitterwidget.png"/></a></div>
            <div class="widget widget-insta"><a href="https://www.instagram.com/certifiedcat/"><img src="/images/widgets/instawidget.png"/></a></div>
            <div class="widgets-after"></div>
        </div>
    </div>
</div>
