<div class="widgets">
    <div class="widget-container">
        <div class="widget-canvas">
            <div class="widgets-before"></div>
            <div class="widget widget-tumblr"><a href="http://saltedpita.tumblr.com/"><img src="/images/widgets/tumblrwidget.png" alt="tumblr"/></a></div>
            <div class="widget widget-twitter"><a href="https://twitter.com/saltedpita/"><img src="/images/widgets/twitterwidget.png" alt="twitter"/></a></div>
            <div class="widget widget-insta"><a href="https://www.instagram.com/alkalyon/"><img src="/images/widgets/instawidget.png" alt="instagram"/></a></div>
            <div class="widgets-after"></div>
        </div>
    </div>
</div>
