---
title: Certified Cat Artwork
logo_name: logo.jpg
---

<div class="content-container">
    <div class="content-block col">
        <h1 class="content-header">left column</h1>
        <p>put left column stuff here</p>
    </div>
    <div class="content-block col">
        <h1 class="content-header">right column</h1>
        <p> put right column content here</p>
        <p> if you want to have one column, remove this element and remove the 'col' class from the other one.</p>
   </div>
</div>
<div class="card head-card"> <h1 class="card-header">gallery stuff</h1> <p>cards overview text here (what're they for, etc, etc); they'll probably have a lightbox on them so you can scroll through horizontally or vertically; might make them more card-y in the future</p></div>
<div class="content-cards">
    <div class="card"> <img src='http://i.imgur.com/8oakqNd.jpg'/> <p>aaaaaaaa</p></div>
    <div class="card"> <img src='http://i.imgur.com/8oakqNd.jpg'/> <p>aaaaaaaa</p></div>
    <div class="card"> <img src='http://i.imgur.com/8oakqNd.jpg'/> <p>aaaaaaaa</p></div>
    <div class="card"> <img src='http://i.imgur.com/8oakqNd.jpg'/> <p>aaaaaaaa</p></div>
</div>
