---
title: Certified Cat Artwork
logo_name: logo.jpg
---

<div class="content-container">
    <div class="content-block col">
        <%= partial 'tos_left' %>
    </div>
    <div class="content-block col">
        <%= partial 'tos_right' %>
   </div>
</div>
