$current-bg: #2E2D3F;
$hover-bg: #55475e;
$inactive-bg: #2e2e2e;

@media screen and (min-width: 701px) {

    .wrapper {
        max-width: 95vw;
        margin: 0 auto;
    }

    .header-pic {
      width: 100%;
      height: auto;
    }

    .content-block.col {
        height: 100%;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-left: 0.5%;
        margin-right: 0.5%
    }
    .after-content {
        padding-bottom: 75px;
    }
    body {
/*        background: rgba(0,0,0,0) url("/images/bg.png") no-repeat fixed center; */
          background: #222 url("http://i.imgur.com/wKgQEaW.png") repeat;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 999;
    }

    .header .header-pic {
        max-width: 100%;
    }

   .nav-container {
        background-color: rgba(0,0,0,0.0);
        min-height: 3em;
    }
    .nav-head {
        display: none;
    }
    .nav {
        list-style-type: none;
        margin: 0 auto 0 auto;
        padding: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .nav .item {
        display: inline-block;
        width: 19vw;
        height: 6.1848vw;
        line-height: 6.1848vw;
        vertical-align: center;
        padding: 0;
        margin: 0;
        background-size: 100% 6.1848vw;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        text-align: center;
        transition: all 0.25s ease-in;
    }

    .nav.roll-up .item {
      height: 2.8vw;
      line-height: 2.8vw;
    }

    .nav .item.current {
      -webkit-filter: grayscale(0%) saturate(130%);
    }

    .nav .item .dropdown-content>a.current {
      background-color: $current-bg;
    }

    .nav.roll-up .item {
      transition: height;
    }

    .nav.roll-up .item a, .nav.roll-up .item .dropdown, .nav.roll-up .item .dropdown-content, .nav.roll-up .item .dropdown-head {
      transition: opacity 0.1s linear;
      transition: color 0.45s ease-in;
      transition: background 0.25s ease-out;
    }

    .nav.roll-up .item a, .nav.roll-up .item .dropdown-head {
      color: #777;
      opacity: 1;
      background-color: $inactive-bg;
    }

    .nav.roll-up .item.current a {
      background-color: $current-bg;
    }

    .nav .item:hover>a {
      color: #fff;
      opacity: 1;
      background-color: $hover-bg;
    }

    .nav .item.has-dropdown:hover .dropdown-content a {
      color: #fff;
      background-color: $inactive-bg;
    }

    .nav .item.current:hover a {
      background-color: $current-bg;
    }

    .nav .item {
      background-repeat: no-repeat;
      background-color: $inactive-bg;
    }

    .nav .item:nth-child(1) {
      background-image: url("/images/nav/1.jpg");
    }
    .nav .item:nth-child(2) {
      background-image: url("/images/nav/2.jpg");
    }
    .nav .item:nth-child(3) {
      background-image: url("/images/nav/3.jpg");
    }
    .nav .item:nth-child(4) {
      background-image: url("/images/nav/4.jpg");
    }
    .nav .item:nth-child(5) {
      background-image: url("/images/nav/5.jpg");
    }

    .nav-container {
      height: 6.1848vw;
    }

    .nav:not(.roll-up) .item.has-dropdown .dropdown-content {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 3.0934vw;
      line-height: 3.0934vw;
    }

    .nav.roll-up .item.has-dropdown .dropdown-content {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 2.8vw;
      line-height: 2.8vw;
    }

    .nav.roll-up .item.has-dropdown .dropdown-content a {
      float: left;
      width: 50%;
    }

    .nav .item:hover:not(.current) {
      -webkit-filter: grayscale(0%);
    }

    .nav .item.current:hover {
      -webkit-filter: grayscale(0%);
    }

    .nav>.item.has-dropdown:hover>.dropdown>.dropdown-head {
      color: transparent;
    }

    .nav .item a, .nav .item .dropdown-head {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: transparent;
        opacity: 0;
        font-size: 1em;
    }
    /* dropdown stuff */
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .dropdown-content {
        opacity: 0;
        position: relative;
        width: 100%;
        transition: opacity 0.35s linear;
        -webkit-transition: opacity 0.35s linear;
        /* see http://stackoverflow.com/a/17353755 - fraction height on hover causes a weird jitter, after .roll-up has been removed once... */
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }

    .item.has-dropdown:hover .dropdown .dropdown-content {
        /*display: block; */
        opacity: 1 !important;
        z-index: 1;
        display: inline-block;
    }

    .dropdown-content a {
        z-index: 100;
        color: #fff;
        -webkit-transition: opacity linear 0.25s;
        transition: opacity linear 0.25s;
    }

    .nav .item:hover .dropdown-content a {
      opacity: 1;
    }

    .nav .item:hover .dropdown-content a:hover {
        background-color: $hover-bg;
        color: #fff;
    }
    /* end dropdown */
}

@media screen and (min-width: 701px) and (max-width: 739px) {
    .content-container .content-block.col {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 740px) {
    .content-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
