@import "theme";

@media screen and (min-width: 701px) {

  // general hacks
  html, body {
      max-width: 1920px;
  }
  body {
      background: $page_background;
  }

  // encapsulating stuff

  .wrapper {
    max-width: 95vw;
    margin: 0 auto;
  }

  // header stuff

  .header {
    .header-pic {
      width: 100%;
      /* max-width: 100%; */  //is this even needed?
      height: auto;
    }
  }

  // nav stuff, beginning with the sticky modifier

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
  }

  /*
    ~ indicates that there might be multiple/they're in no particular order.
    |--- header
      |--- header-pic
      |--- nav-container
        |--- nav-head
        |--- nav
          |--- item
            |--- ~a
            |--- ~dropdown
              |--- dropdown-head
              |--- dropdown-content
                |--- ~a
  */

  .nav-container {
    background-color: $nav_cont_bg;
    min-height: 3em;
    height: 6.5vw;
		width: 100vw;
    .nav-head {
      display: none; // hide on "desktop" since this is just the hamburger button
    }
    .nav {
      list-style-type: none;
      margin: 0 auto 0 auto;
      padding: 0;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        background-repeat: no-repeat;
        background-color: $nav_item_inactive;
        background-size: 100% 6.5vw;
        display: inline-block;
        width: 20vw;
        height: 6.5vw;
        line-height: 6.1848vw;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        filter: grayscale(100%);
        text-align: center;
        transition: height 0.25s ease-in;
        &:hover {
            opacity: 1;
            background-color: $nav_item_hover;
            a {
              opacity: 1;
              background-color: $nav_item_hover;
              color: $nav_item_hover_text;
            }
          &:not(.current) {
            filter: grayscale(0%);
          }
          .dropdown-head {
            color: transparent;
          }
          .dropdown-content {
            /*display: block; */
            opacity: 1;
            z-index: 1;
            display: inline-block;
            a {
              background-color: $nav_drop_inactive;
              color: $nav_drop_text;
              opacity: 1;
              &.current {
                background-color: $nav_drop_current;
              }
              &:hover {
                color: $nav_drop_hover_text;
                background-color: $nav_drop_hover;
                &.current {
                  background-color: $nav_drop_current;
                  color: $nav_drop_current_text_hover;
                }
              }
            }
          }
        }
        &.current {
          filter: grayscale(0%) saturate(130%);
          background-color: $nav_item_current;
          &:hover {
            a {
                background-color: $nav_item_current;
                color: $nav_item_current_text;
              }
          }
        }
        .dropdown, .dropdown-content, .dropdown-head, a {
          transition: opacity 0.3s ease-out,
          color 0.45s ease-in,
          background 0.25s ease-out,
          height 0.25s ease-in,
          visibility 0.25s ease-out;
        }
        .dropdown-head, a {
          display: inline-block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: transparent;
          opacity: 0;
          font-size: 1em;
        }
        // nav backgrounds
        &:nth-child(1) {
          background-image: url("/images/nav/1.png");
        }
        &:nth-child(2) {
          background-image: url("/images/nav/2.png");
        }
        &:nth-child(3) {
          background-image: url("/images/nav/3.png");
        }
        &:nth-child(4) {
          background-image: url("/images/nav/4.png");
        }
        &:nth-child(5) {
          background-image: url("/images/nav/5.png");
        }
        a {
          background-color: $nav_item_inactive;
        }
      }
      &.roll-up {
        .item {
          height: 2.8vw;
          line-height: 2.8vw;
          .dropdown-head, a {
            color: $nav_roll_drop_text;
            opacity: 1;
            background-color: $nav_roll_drop_inactive;
          }
          &.current {
            a {
              background-color: $nav_roll_current;
            }
            &:hover a {
              background-color: $nav_roll_current;
            }
          }
          &.has-dropdown {
            .dropdown-content {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 2.8vw;
              line-height: 2.8vw;
              a {
                  float: left;
                  width: 50%;
              }
            }
            &:hover {
              .dropdown-content a { //.dropdown-content is unneccessary, but is clearer wtf I'm selecting
                // hovering the "dropdown" (if I can even call it that still), selecting both (now-visible) links
                color: $nav_roll_drop_text;
                background-color: $nav_roll_drop_inactive;
                &:hover {
                  background-color: $nav_roll_drop_hover;
                  color: $nav_roll_drop_hover_text;
                  &.current {
                    background-color: $nav_roll_drop_current;
                  }
                }
                &.current {
                  background-color: $nav_roll_drop_current;
                }
              }
            }
          }
          &:hover a {
            color: $nav_roll_item_hover_text;
            opacity: 1;
            background-color: $nav_roll_item_hover_bg;
          }
        }
      }
      &:not(.roll-up) {
        .item.has-dropdown {
          &:hover {
            background-color: $nav_item_inactive;
          }
          .dropdown-content { // ...why did I even put the .item.has-dropdown in there? (probably to override something but still)
            position: absolute;
            top: 0px;
            left: 0px;
            height: 3.0934vw;
            line-height: 3.0934vw;
          }
        }
      }
      .dropdown {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 100%;
      }
      .dropdown-content {
          opacity: 0;
          position: relative;
          width: 100%;
          transition: opacity 0.35s ease-out;
          /* see http://stackoverflow.com/a/17353755 - fraction height on hover causes a weird jitter, after .roll-up has been removed once... */
          transform: translateZ(0);
        a {
            z-index: 100;
            color: $nav_drop_text;
            //transition: opacity ease-out 0.25s; ?!
          &.current {
            background-color: $nav_drop_current;
          }
        }
      }
    }
  }

  //content stuff

  .content-block.col {
    height: 100%; // honestly not sure if i should do this or not, but eh
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    min-width: 45%;
    max-width: 45%;
  }

  .projects {
    .projects-icons {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
    }
  }
}

// contact stuff

.contact-form {
  width: 20vw;
  min-height: 30vh;
  form {
    input {
      width: 15vw;
      height: 5vh;
      line-height: 2.5vh;
      font-size: 1.5em;
    }
    #form-text {
      width: 15vw;
      height: 5vh;
      line-height: 5vh;
      font-size: 1.5em;
      &:focus {
        height: 25vh;
        font-size: 1em;
        line-height: 1.5em;
      }
    }
    button {
      width: 15vw;
      height: 5vh;
      line-height: 2.5vh;
      font-size: 2.5vh;
    }
  }
}

.contact-message-container {
  width: 30vw;
  left: 35vw;
  right: 35vw;
  height: 30vh;
  top: 35vh;
  bottom: 35vh;
  #contact-message-dismiss {
    width: 30vw;
    height: 5vh;
    position: fixed;
    bottom: 35vh;
    top: 60vh;
    left: 35vw;
    right: 35vw;
  }
}

@media screen and (min-width: 701px) and (max-width: 739px) {
  .content-container .content-block.col {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 740px) {
  .content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
