@charset "utf-8";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600,300);

/* global.css, imported first */

.rotate90 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: inline-block;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
}

.scrollTop i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.scrollTop:hover {
  background: rgba(0, 0, 0, 0.9);
}
.scrollTop:hover i {
    color: #fff;
    top: 5px;
}

.card.visible {
  animation-name: fade-in;
  -webkit-animation-name: fade-in;

  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible;
  opacity: 1;
}

@keyframes fade-in {
from {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); */
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}


img {
  max-width: 100%;
}

.header .header-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}

body {
    min-height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

body>.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: relative;
}

.header {
    width: 100%;
}

.header .title {
    background-color: rgba(255, 255, 255, 0.82);
}

.header .title, .header .title a {
    text-align: center;
    text-decoration: none;
    color: #111;
}

.content-container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 50px;
}

.content-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: rgba(100, 100, 100, 0.75);
    color: #bbb;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.content-header {
    text-align: center;
    margin-top: 0px;
}

.content-cards {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px;
    display: inline-block;
    background: #444;
    border-radius: 0.4em;
    margin-bottom: 10px;
    text-align: center;
    color: #777;
    visibility: hidden;
    opacity: 0;
    word-wrap: break-word;
}

.visibile {

}

.center {
    text-align: center;
}

.content-block img {
    max-width: 75%;
    /* height: auto; */
    max-height: 250px;
}

.clear {
    clear: both;
}

.footer-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.85);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.footer-content {
    color: #888;
    width: 100%;
    line-height: 1.75em;
    vertical-align: middle;
    text-align: center;
    height: 1.75em;
}

.footer-content a {
    color: #fff;
    -webkit-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

.footer-content a:hover {
    color: #c3c;
}

.left {
    float: left;
    padding-left: 5px;
}

.right {
    float: right;
    padding-right: 5px;
}

.sig:not(:first-child)::after {
    content: " |";
}

.nav {
  z-index: 999;
}

.hidden {
  display: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
