---
title: Alka
logo_name: logo.jpg
description: Digital Illustrations
---

<div class="tiles">
    <div class="content-tiles">
        <%  data.gallery.traditional.each do |image| %>
          <div class="tile"> <%= lightbox_insert_tiles image  %> </div>
        <% end %>
    </div>
</div>
