<div class="after-content"></div>

<div class="footer-container">
    <div class="footer-content">
      <div class="left-floats">
          <div class="sig left">Made with &hearts; by <a href="https://github.com/arcaena/">Chris Guillott</a></div>
      </div>
      <div class="right-floats">
          <div class="sig right">Art &copy; Peter Sang, 2016</div>
          <div class="sig right"><a href="/tos">TOS</a></div>
      </div>
    </div>
</div>
