---
title: Alka
logo_name: logo.jpg
description: about meeeeeeeee
---

<div class="content-container">
    <div class="content-block col">
        There will be a pic or something here eventually
    </div>
    <div class="content-block col justify">
        <%= partial 'aboot' %>
   </div>
</div>
