---
title: Alka
logo_name: logo.jpg
description: about meeeeeeeee
---

<div class="content-container">
    <div class="content-block col">
      <img class="about-pic" src="/images/about/pic.png"/>
    </div>
    <div class="content-block col justify">
        <%= partial 'aboot' %>
   </div>
</div>
