/* put this at the top so specifics can be overriden */
.rotate90 {
    transform: rotate(90deg);
    display: inline-block;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
}

.scrollTop i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.scrollTop:hover {
  background: rgba(0, 0, 0, 0.9);
}
.scrollTop:hover i {
    color: #fff;
    top: 5px;
}

.card.visible {
  animation-name: fade-in;
  -webkit-animation-name: fade-in;

  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible;
  opacity: 1;
}

@keyframes fade-in {
from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}


img {
  max-width: 100%;
}

.header .header-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 665px;
    max-width: 75%;
    max-height: 500px;
}

html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body>.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: relative;
}

.header {
    width: 100%;
}

.header .title {
    background-color: rgba(255, 255, 255, 0.82);
}

.header .title, .header .title a {
    text-align: center;
    text-decoration: none;
    color: #111;
}

.nav .item, .nav-head {
    background-color: rgba(55, 55, 55, 0.92);
}

.item.current, .item.current>a, a.current{
    background-color: rgba(185, 185, 185, 0.92);
}

.content-container {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.content-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: rgba(100, 100, 100, 0.75);
    color: #bbb;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.content-header {
    text-align: center;
    margin-top: 0px;
}

.content-cards {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px;
    display: inline-block;
    background: #444;
    border-radius: 0.4em;
    margin-bottom: 10px;
    text-align: center;
    color: #777;
    visibility: hidden;
    opacity: 0;
    word-wrap: break-word;
}

.visibile {

}

.center {
    text-align: center;
}

.content-block img {
    max-width: 75%;
    /* height: auto; */
    max-height: 250px;
}

.clear {
    clear: both;
}

.footer-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.85);
    height: fit-content;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.footer-content {
    color: #888;
    width: 100%;
    line-height: 1.75em;
    vertical-align: middle;
    text-align: center;
    height: 1.75em;
}

.footer-content a {
    color: #fff;
    transition: color 0.5s linear;
}

.footer-content a:hover {
    color: #c3c;
}

.left {
    float: left;
    padding-left: 5px;
}

.right {
    float: right;
    padding-right: 5px;
}

.sig:not(:first-child)::after {
    content: " |";
}

@media screen and (min-width: 701px) {

    .header {
      height: 100vh;
    }

    .content-block.col {
        height: 100%;
        flex: 1;
        margin-left: 0.5%;
        margin-right: 0.5%
    }
    .after-content {
        padding-bottom: 75px;
    }
    body {
/*        background: rgba(0,0,0,0) url("/images/bg.png") no-repeat fixed center; */
          background: #222 url("http://i.imgur.com/wKgQEaW.png") repeat;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 999;
    }

    .widgets {
      position: relative;
    }



    .header-pic {
      height: 44vh;
      width: 100%;
    }

    .nav:not(.roll-up) .item {
      height: 12vh;
      line-height: 12vh;
    }

    .header .header-pic {
        max-width: 100%;
    }

   .nav-container {
        background-color: rgba(0,0,0,0.0);
        min-height: 3em;
    }
    .nav-head {
        display: none;
    }
    .nav {
        list-style-type: none;
        margin: 0 auto 0 auto;
        padding: 0;
        width: fit-content;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .nav .item {
        display: inline-block;
        width: 20vw;
        height: 5.55vh;
        line-height: 5.55vh;
        text-align: center;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        transition: background-color 0.15s linear;
        transition: height 0.1s linear;
    }

    .nav-container {
      background: url("./../images/nav-bg.jpg");
      height: 12vh;
    }

    .nav:not(.roll-up) .item.has-dropdown .dropdown-content {
      position: relative;
      top: -12vh;
      height: 6vh;
      line-height: 6vh;
    }

    .nav.roll-up .item.has-dropdown .dropdown-content {
      position: relative;
      top: -5.55vh;
      height: 2.77vh;
      line-height: 2.77vh;
    }


    .nav .item:hover {
        background-color: rgba(200,125,175,0.62);
    }
    .nav .item:hover>.dropdown>a {
        background-color: rgba(0,0,0,0);
        color: #eee;
    }

    .nav .item>.dropdown>a:hover, .nav .item>.dropdown>.dropdown-content>a:hover, .nav .item:hover>a {
        color: #eee;
    }

    .nav .item a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #777;
        font-size: 1em;
        transition: color 0.15s linear;
    }
    /* dropdown stuff */
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .dropdown-content {
        opacity: 0.0;
        position: relative;
        width: 100%;
        transition: opacity 0.35s ease-in;
        -webkit-transition: opacity 0.35s ease-in;
        display: none;
    }

    .item.has-dropdown:hover .dropdown .dropdown-content {
        /*display: block; */
        opacity: 1;
        z-index: 1;
        display: inline-block;
    }

    .dropdown-content a {
        z-index: 100;
        /*background-color: rgba(200,125,175,0.62);*/
        background-color: rgba(55, 55, 55, 0.82);
        color: #777;
        transition: all linear 0.15s;
    }

    .dropdown-content a:hover {
        background-color: rgba(225, 125, 175, 0.95);
    }
    /* end dropdown */
}

@media screen and (min-width: 701px) and (max-width: 739px) {
    .content-container .content-block.col {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 740px) {
    .content-container {
        display: -webkit-flex;
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    body {
        background: #222 url("http://i.imgur.com/wKgQEaW.png") repeat;
    }
    .nav-container {
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        width: 100%;
    }
    .nav .item, .nav-head {
        width: 100%;
        min-height: 3em;
        max-height: 3em;
    }
    .nav .item {
        width: 50%;
        float: left;
    }
    .nav .item a, .nav-head a {
        width: 100%;
        min-height: 100%;
        font-size: 1.5em;
        text-align: center;
        line-height: 1.5em;
        text-decoration: none;
        display: inline-block;
        color: #777;
        padding-bottom: 12px;
    }
    .nav .item .dropdown-content a {
        color: #777;
        /*font-size: 1.3em;*/
        background-color: rgba(155, 55, 55, 0.92);
        z-index: 1;
    }
    .nav .item .dropdown-content a.current {
        background-color: rgba(185, 185, 185, 0.92);
    }
    .header .header-pic {
        max-width: 100%;
        min-width: 100%;
    }
    .nav {
        border-top: 1px solid #777;
    }
    .after-content {
        padding-bottom: 50px;
    }
    .nav .dropdown-content {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        z-index: 1;
    }
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  max-width: 100%;
}

.widget-container .widget-canvas {
  height: 44vh;
  width: 100%;
  overflow: hidden;
  background-image: url("./../images/widget-container.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.widgets-before {
  flex-grow: 1;
  /*flex-grow: 764.40; */
}
.widgets-after {
  flex-grow: 1;
  /*flex-grow: 759.42;*/
}

.widget {
  display: block;
}

.widget:hover img {
  -webkit-filter: hue-rotate(130deg);
  filter: hue-rotate(90deg);
  transform: translate(0px, -0.25vw) rotate(7.5deg);

}

.widget-tumblr {
  margin: auto 0vh auto 0vh;
}
.widget-tumblr img {
  height: 10.07vh;
  width: auto;
}

.widget-twitter {
  margin: auto 6.2vh auto 6.2vh;
  align-self: flex-end;
}
.widget-twitter img {
  height: 10.07vh;
  width: auto;
}

.widget-insta {
  margin: auto 0vh auto 0vh;
}
.widget-insta img {
  height: 10.37vh;
  width: auto;
}
