/* put this at the top so specifics can be overriden */
.rotate90 {
    transform: rotate(90deg);
    display: inline-block;
}

.card.visible {
  animation-name: fade-in;
  -webkit-animation-name: fade-in; 

  animation-duration: 600ms; 
  -webkit-animation-duration: 600ms;

  animation-timing-function: ease-out; 
  -webkit-animation-timing-function: ease-out;   

  visibility: visible;
  opacity: 1;
}

@keyframes fade-in {
from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}


img {
  max-width: 100%;
}

.header .header-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 665px;
    max-width: 75%;
    max-height: 500px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body>.wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: relative;
}

.header {
    width: 100%;
}

.header .title {
    background-color: rgba(255, 255, 255, 0.82);
}

.header .title, .header .title a {
    text-align: center;
    text-decoration: none;
    color: #111;
}

.nav .item, .nav-head {
    background-color: rgba(55, 55, 55, 0.92);
}

.item.current, .item.current>a, a.current{
    background-color: rgba(185, 185, 185, 0.92);
}

.content-container {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.content-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: rgba(100, 100, 100, 0.75);
    color: #bbb;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.content-header {
    text-align: center;
    margin-top: 0px;
}

.content-cards {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px;
    display: inline-block;
    background: #444;
    border-radius: 0.75em;
    margin-bottom: 10px;
    text-align: center;
    color: #777;
    visibility: hidden;
    opacity: 0;
    word-wrap: break-word;
}

.visibile {

}

.center {
    text-align: center;
}

.content-block img {
    max-width: 75%;
    /* height: auto; */
    max-height: 250px;
}

.clear {
    clear: both;
}

.footer-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 60, 50, 0.85);
    height: fit-content;
    border-top-right-radius: 0.8em;
    border-top-left-radius: 0.8em;
}

.footer-content {
    color: #888;
    width: 100%;
    line-height: 1.75em;
    vertical-align: middle;
    text-align: center;
    height: 1.75em;
}

.footer-content a {
    color: #aa00aa;
}

.left {
    float: left;
    padding-left: 5px;
}

.right {
    float: right;
    padding-right: 5px;
}

.sig:not(:first-child)::after {
    content: " |";
}

@media screen and (min-width: 701px) {
    .content-block.col {
        height: 100%;
        flex: 1;
        margin-left: 0.5%;
        margin-right: 0.5%
    } 
    .after-content {
        padding-bottom: 75px;
    }
    body {
/*        background: rgba(0,0,0,0) url("/images/bg.png") no-repeat fixed center; */
          background: #222 url("http://i.imgur.com/wKgQEaW.png") repeat;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 999;
    }

    .header .header-pic {
        max-width: 100%;
    }

   .nav-container {
        background-color: rgba(0,0,0,0.0);
        min-height: 3em;
    }
    .nav-head {
        display: none;
    }
    .nav {
        list-style-type: none;
        margin: 0 auto 0 auto;
        padding: 0;
        width: fit-content;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .nav .item {
        display: inline-block;
        width: 125px;
        height: 3em;
        text-align: center;
        vertical-align: middle;
        line-height: 3em;
        padding: 0;
        margin: 0;
        transition: background-color 0.15s linear;
    }

    .nav .item:not(:last-child) {
        border-right: 1px solid rgba(100, 100, 100, 0.5);
    }
    .nav .item:not(:first-child) {
        border-left: 1px solid rgba(100, 100, 100, 0.5);
    }



    .nav>.item:first-child, .nav>.item.current:first-child a {
        border-bottom-left-radius: 0.8em;
    }

    .nav>.item:last-child, .nav>.item.current:last-child {
        border-bottom-right-radius: 0.8em;
    }
    .nav .item.has-dropdown:hover{
        border-radius: 0px ;
    }
    .nav .item:hover {
        background-color: rgba(200,125,175,0.62);
    }
    .nav .item:hover>.dropdown>a {
        background-color: rgba(0,0,0,0);
        border-bottom-right-radius: 0px;
        color: #eee;
    }

    .nav .item>.dropdown>a:hover, .nav .item>.dropdown>.dropdown-content>a:hover, .nav .item:hover>a {
        color: #eee;
    }

    .nav .item a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #777;
        font-size: 1em;
        transition: color 0.15s linear;
    }
    /* dropdown stuff */
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .dropdown-content {
        z-index: -1;
        opacity: 0.0;
        position: absolute;
        width: 100%;
        transition: opacity 0.15s linear;
        border-bottom-right-radius: 0.8em;
        border-bottom-left-radius: 0.8em;
    }

    .dropdown-content>a:last-child {
        border-bottom-right-radius: 0.8em;
        border-bottom-left-radius: 0.8em;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        opacity: 1;
        z-index: 1;
    }

    .dropdown-content a {
        z-index: 100;
        /*background-color: rgba(200,125,175,0.62);*/
        background-color: rgba(55, 55, 55, 0.82);
        color: #777;
        transition: all linear 0.15s;
    }

    .dropdown-content a:hover {
        background-color: rgba(225, 125, 175, 0.95);
    }
    /* end dropdown */
}

@media screen and (min-width: 701px) and (max-width: 739px) {
    .content-container .content-block.col {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 740px) {
    .content-container {
        display: -webkit-flex;
        display: flex;
    } 
}

@media screen and (max-width: 700px) {
    body {
        background: #222 url("http://i.imgur.com/wKgQEaW.png") repeat;
    }
    .nav-container {
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        width: 100%;
    }
    .nav .item, .nav-head {
        width: 100%;
        min-height: 3em;
        max-height: 3em;
    }
    .nav .item {
        width: 50%;
        float: left;
    }
    .nav .item a, .nav-head a {
        width: 100%;
        min-height: 100%;
        font-size: 1.5em;
        text-align: center;
        line-height: 1.5em;
        text-decoration: none;
        display: inline-block;
        color: #777;
        padding-bottom: 12px;
    }
    .nav .item .dropdown-content a {
        color: #777;
        /*font-size: 1.3em;*/
        background-color: rgba(155, 55, 55, 0.92);
        z-index: 1;
    }
    .nav .item .dropdown-content a.current {
        background-color: rgba(185, 185, 185, 0.92);
    }
    .header .header-pic {
        max-width: 100%;
        min-width: 100%;
    }
    .nav {
        border-top: 1px solid #777;
    }
    .after-content {
        padding-bottom: 50px;
    }
    .nav .dropdown-content {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        z-index: 1;
    }
}

